<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/style.css">
  <title>Home</title>
</head>
<body style="background-color: rgb(37, 155, 155);">
<div style="margin-right: 150px;" >
  <img src="svg1.svg" height="650" width="650">
</div>
  <div class="wrapper">
    <h2>Upload Image!</h2>

    <form>
      <i class="fas fa-cloud-upload-alt"></i>
      <input type="file" name="avatar" hidden />
    </form>

    <div class="error"></div>

    <div class="upload-file"></div>

    <div class="uploaded"></div>
  </div>

</body>
<script src="script.js"></script>
</html>
