

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preprocessed Image</title>
    <link rel = "stylesheet" href = "/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "main">
    <h1 class = "head">Pre-processed Image</h1><br>
    <iframe class = "text" src="/api/pre/<%=imageName%>" height="400" width="400"></iframe><br>
   <a href="/loading1/<%=imageName%>"><button class = "btn">Next</button><br></a><br>
    <a href = "/"><button class = "btn">Go back</button></a>
    </div>

<script>

</script>
</body>
</html>